/* elements */
body{
    background-color: #282A3A;
    text-align: center;
}
h1 {
    font-size: 8vw;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;

}
footer{
    color: blueviolet;
}
/* classes */
.set {
    margin: 10% auto;}
    .a{
        background: url("images/juktaNahi.png");
    }
    .b{
        background: url("images/bhookLagi.png");

    }
    .c{
        background: url("images/nendAaRahi.png");
    }
    .d{
        background: url("images/tvChalo.png");
    }
  
  .drum {
    outline: none;
    border: 12px solid #404B69;
    font-size: 0.1rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: grey;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 14px;
    background-color: white;
  }
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }